<style>
    form label, input{
        display: block;
    }
</style>

<%- include('header.ejs') %>
<%- include('leftmenu.ejs') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-3">

        </div>
        <div class="col-9">
            <% if(regdata.length>0){ %>
            <table class="table table-bordered">
                <thead>
                    <tr style="font-weight: 700;">
                            <td>first_name</td>
                            <td>email</td>
                            <td>contact</td>
                            <td>message</td>
                    </tr>

                </thead>
                <tbody>
                    <% for( var i=0; i<regdata.length; i++){%>
                        <tr>
                            <td><%= regdata[i].first_name %></td>
                            <td><%= regdata[i].email %></td>
                            <td><%= regdata[i].contact %></td>
                            <td><%= regdata[i].message %></td>
                            <td> <a class="btn btn-outline-dark">Update</a></td>
                            <td> <a class="btn btn-outline-dark" href="/delete2/<%= regdata[i].id %>">Delete</a></td>

                        </tr>
                        <%} %>
                </tbody>
                
            </table>
            <% } else { %>
            No record found
        <%} %>
        </div>
    </div>
</div>
